@function rem($val){
    @return $val/37.5 + rem;
}

.login{
    .login_nav{
        height: rem(55);
        background: #fff;
        ul{
            height: rem(55);
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                flex:1;
            }
            li:nth-child(1){
                i{
                    font-size: rem(21);
                    color: #666;
                    margin-left: rem(22);
                }
            }
            li:nth-child(2){
                text-align: center;
            }
            li:nth-child(3){
                display: flex;
                i{
                    font-size: rem(17);
                    margin-left: rem(23);
                    color: #666;
                }
            }
        }
    }
    .login_img{
        width: rem(375);
        height: rem(220);
        img{
            width: rem(375);
            height: rem(220);
        }
    }
    .login_tab{
            background: #fff;
            ul{
                height: rem(50);
                border-bottom:rem(1) solid #eee;
                display: flex;
                align-items: center;
                li{
                    flex: 1;
                    margin-left: rem(34);
                    
                }
                li:nth-child(1){
                     padding-right: rem(16);
                     border-right: rem(1) solid #ccc;
                     box-sizing: border-box;
                }
                li:nth-child(2){
                     padding-right: rem(16);
                     border-right: rem(1) solid #ccc;
                     box-sizing: border-box;
                }
                .active{
                    color: red;
                }
            }
    
        }
        .login_content{
            background: #fff;
            padding-left: rem(18);
            margin-top: rem(13);
            ul{
                li{
                    div{
                        border-bottom: 1px solid #ccc;
                        padding-bottom: rem(15);
                        padding-top: rem(15);
                        display: flex;
                        position: relative;
                        i{
                            font-size: rem(20);
                            margin-right: rem(15);
                            color: #888;
                        }
                        input{
                            border: none;
                        }
                        span{
                            padding-top: rem(17);
                            padding-bottom:rem(17) ;
                            padding-left: rem(20);
                            padding-right:rem(20) ;
                            position: absolute;
                            top:rem(1);
                            right: rem(0);
                            background: #e8343b!important;
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
        
}