@function rem($val){
    @return $val/37.5 + rem;
}
*{
    margin: 0;
    padding: 0;
}

.list{
    width: rem(375);
    .list_nav{
        height: rem(55);
        margin-bottom: rem(1);
        position: relative;
        ul{
            height: rem(55);
            background: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #eee;
            box-sizing: border-box;
            z-index: 999;
            position: fixed;
            top: rem(0);
            left: rem(0);
            right:rem(0);
            li{
                flex:1;
            }
            li:nth-child(1){
                i{
                    font-size: rem(21);
                    color: #666;
                    margin-left: rem(22);
                }
            }
            li:nth-child(2){
                text-align: center;
            }
            li:nth-child(3){
                display: flex;
                i{
                    font-size: rem(17);
                    margin-left: rem(23);
                    color: #666;
                }
            }
        }
    }
    .showItem{
        height: rem(92);
        width: rem(148);
        border: 1px solid #eee;
        background: #fff;
        position: absolute;
        right: rem(12);
        top: rem(55);
        z-index: 10;
        span{
            position: absolute;
            top:rem(-10);
            right: rem(8);
            width: 0;
            height: 0;
            border-left: rem(8) solid transparent;
            border-right: rem(8) solid transparent;
            border-bottom: rem(8) solid rgba(236, 236, 236, 0.8);

            
        }
        .show-content{
            display: flex;
            align-items: center;
            padding-left: rem(20);
            padding-top:rem(5);
            i{
                font-size: rem(17);
                color: rgb(136, 135, 135);
                margin-right: rem(14);
            }
            p{
                
            }
        }
    }
    .am-tabs{
        margin-bottom: rem(3);
    }
    .alllist{
        .am-accordion-item{
            margin-bottom: rem(20);
            .am-accordion-header{
                font-size: rem(14);
                color: #333;
                
            }
            .am-accordion-content{
                padding-top: rem(25);
                padding-bottom: rem(25);
                padding-left: rem(10);
                .am-accordion-content-box{
                    div{
                        font-size: rem(13);
                        color: #888;
                       
                    }
                }
                
            }
        }
    }
}
